/*Projects.html*/
.dws-wrapper{
	max-width: 650px;
	margin: 0 auto;
}
ul.accordion{
	display: flex;
	justify-content: center;
	padding: 0;
}
ul.accordion li{
	width: 58px;
	overflow: hidden;
	padding: 1px 1px 0;
	cursor: pointer;
	display: block;
	-webkit--box-shadow: 1px 3px 15px #7e807e;
	-moz--box-shadow: 1px 3px 15px #7e807e;
	box-shadow: 1px 3px 15px #7e807e;
	-webkit-transition: all 1.5s time;
	-moz-transition: all 1.5s time;
	-ms-transition: all 1.5s time;
	-o-transition: all 1.5s time;
	transition: all 1.5s time;
}
ul.accordion img{
	width: 380px;
}


ul.accordion li:hover{
	width: 300px;
	-webkit-box-shadow: 1px 3px 15px #36c5fa;
	-moz-box-shadow: 1px 3px 15px #36c5fa;
	box-shadow: 1px 3px 15px #36c5fa;
	-webkit-transition: all 1s time;
	-moz-transition: all 1s time;
	-ms-transition: all 1s time;
	-o-transition: all 1s time;
	transition: all 1s time;
}
ul.accordion li:nth-child(4){
	width: 300px;
}

ul.accordion:hover li:nth-child(4){
	width: 50px;
}
ul.accordion li:nth-child(4):hover{
	width: 300px;
}
.destr{

	display:none;
	opacity: 0.8;
    margin:90px 0px 0px 0px;
    padding:5px;
    background:#ff6600;
    color:white;
    height:70px;
    width: 200px;
    border-radius: 0px 5px 5px 0px; 
    
}
.add_item {
	border: 1px solid #36c5fa;
	border-radius: 3px;
	color: #000;
	font-size: .5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 1rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 60px;
	margin: 9px auto;
}
.destr br{
	margin-bottom: 3px;
}

ul.accordion li:hover .destr{
    display:block;
    position:absolute;
    top:250px;
    z-index:9999
}
@media screen and (max-width: 420px){
	.destr{
		display: none;
		width: 20px;
	}
	.add_item{
		display: none;
	}
}