.servises{
	width: 80%;
	margin: 50px auto;
	text-align: center; 
}
.servises img{
	max-width: 100%;
}
.servises_container{
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px 100px;
}
@media  screen and(max-width: 420px) {
	.servises_container{
		grid-template-columns: auto;		
	}
}
